.page-header
  %h1
    #{@song.title}
    %small by #{@song.artists.map(&:name).to_sentence}

.pull-right= render partial: 'play', locals: { song: @song, width: 300, height: 380 }
.row
  .col-lg-8
    - if @song.explicit?
      .label.label-warning EXPLICIT
    %dl.dl-horizontal
      %dt Album
      %dd
        = @song.album.name
        %em (#{@song.album.year})
      - if @song.duration.present?
        %dt Duration
        %dd= format_duration(@song.duration)
        %br
        %dd
          %form{ :action => "/recommendations", :method => "post" }
            %nbsp Email ID:
            %input{type: "text", name: "to", class: "UserId", required: true}
            %input{type: "hidden", name: "song_id", value: @song.id}
            %input{name: "authenticity_token", value: "#{form_authenticity_token}", type: "hidden"}
            %br
            %br
            %input{type: "submit", value: "Recommend", class: "button"}
          %br
          = link_to('View My Recommendations', '/recommendations')
