.page-header
  %br
  %br
  %td
    %center
      = link_to image_tag('/home.png', :height => 30, :width => 100), root_path
    = link_to image_tag('/back.jpg', :height => 50, :width => 65), '/top_tracks'
  %br
  %br
  %h1
    #{@song.title}
    %small by #{@song.artists.map(&:name).to_sentence}
%br
%br

.pull-right= render partial: 'shared/play', locals: { song: @song, width: 300, height: 380 }
.row
  .col-lg-8
    - if @song.explicit?
      .label.label-warning EXPLICIT
    %dl.dl-horizontal
      %dt Album
      %dd
        = @song.album.name
        %em (#{@song.album.year})
      - if @song.duration.present?
        %dt Duration
        %dd= format_duration(@song.duration)
        %br
        %dd
          = form_for @recommendation do |f|
            = collection_select(:recommendation, :to, current_user.friends, :id, :full_name)
            = f.hidden_field :song_id, value: @song.id
            = f.submit
          %br
          = link_to('View Recommendations', recommendations_path)
          %br
          %br
          = link_to('Back to Home', root_path)
