.page-header
  %br
  %br
  %h1 Welcome, #{current_user.full_name}!
.row
  %td
    %h3
      = link_to('Recommendations', '/recommendations')
  %br
  %td
    %h3
      = link_to('Top Tracks', '/top_tracks')
  %br
  %td
    %h3
      = link_to('Friends', '/friends')
  %br
  %td
    %h3
      = link_to('Reviews', '/reviews')