.panel.panel-info.top-tracks
  .panel-heading
    %h3 Recommendations
  .panel-body
    - if @recommendations.blank?
      %p You do not have any recommendations yet.
    - else
      %ol
        - @recommendations.each do |recommendation|
          %li
            = link_to(recommendation.song.title, "https://open.spotify.com/track/" + recommendation.song.external_id.to_s)
            ;
            %b From
            #{recommendation.from_user.full_name}
            ;
            %b To
            #{recommendation.to_user.full_name}
            .right
              
              - if recommendation.to == @current_user.id
                - if recommendation.liked? || recommendation.liked.nil?
                  %form{ action: "/recommendations/dislike", method: "post" }
                    %input{type: "hidden", name:"id", value: recommendation.id}
                    %input{name: "authenticity_token", value: "#{form_authenticity_token}", type: "hidden"}
                    %input{type: "submit", name:"disliked", value: "Dislike", class: "button"}
                %br
                - if !recommendation.liked?
                  %form{ action: "/recommendations/like", method: "post" }
                    %input{type: "hidden", name:"id", value: recommendation.id}
                    %input{name: "authenticity_token", value: "#{form_authenticity_token}", type: "hidden"}
                    %input{type: "submit", name:"liked", value: "Like", class: "button"}
              
              - if recommendation.liked?
                %span{:style => "color:green"} Liked!
              - elsif recommendation.liked == false
                %span{:style => "color:red"} Disliked!
       
