.panel.panel-info.top-tracks
  .panel-heading
    %h3 Received
  .panel-body{:style => "background-color: lemonchiffon"}
    - if @recommendations.blank?
      %p You do not have any recommendations yet.
    - else
      %ol
        - @recommendations.each do |recommendation|
          - if recommendation.to == @current_user.id
            %li
              = link_to(recommendation.song.title, "https://open.spotify.com/track/" + recommendation.song.external_id.to_s)
              %br
              %b From
              #{recommendation.from_user.full_name}
              
              - unless recommendation.comments.nil?
                %br
                %b Comments
                %br
                #{recommendation.comments}
                %br

              - if recommendation.to == @current_user.id
                %form{ action: "/recommendations/comment", method: "post" }
                  %input{type: "hidden", name:"id", value: recommendation.id}
                  %input{name: "authenticity_token", value: "#{form_authenticity_token}", type: "hidden"}
                  %input{type: "text", name: "comments", value:""}
                  %input{type: "submit", value:"Comment"}
              
              .right
                - if recommendation.to == @current_user.id
                  %br
                  - if recommendation.liked? || recommendation.liked.nil?
                    %form{ action: "/recommendations/dislike", method: "post" }
                      %input{type: "hidden", name:"id", value: recommendation.id}
                      %input{name: "authenticity_token", value: "#{form_authenticity_token}", type: "hidden"}
                      %input{type: "submit", name:"disliked", value: "Dislike", class: "button"}
                  %br
                  - if !recommendation.liked?
                    %form{ action: "/recommendations/like", method: "post" }
                      %input{type: "hidden", name:"id", value: recommendation.id}
                      %input{name: "authenticity_token", value: "#{form_authenticity_token}", type: "hidden"}
                      %input{type: "submit", name:"liked", value: "Like", class: "button"}
                
                - if recommendation.liked?
                  %span{:style => "color:green"} Liked!
                - elsif recommendation.liked == false
                  %span{:style => "color:red"} Disliked!
            %hr
